name: FTP Deploy

on:
  push:
    branches:
      - master # Trigger this workflow on push to the master branch

jobs:
  ftp-deploy:
    name: Deploy to Hosted Server
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@4.4.0
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./ # Adjust this to your deployment directory
          server-dir: /htdocs/ # Adjust this to your server directory on Hosted Server